<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)!.matches}" fixedInViewport="false"
        [attr.role]="isHandset$ ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async)!.matches ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)!.matches">
        <mat-nav-list style="margin-left: 5px;">
            <div class="center">
                <img src="../assets/logo-inoco.png" alt="Logo INOCO" height="70px">
            </div>
            <a mat-list-item routerlinkactive href="#">Faire un dépôt</a>
            <a mat-list-item routerlinkactive href="#">Faire un retrait</a>
            <a mat-list-item routerlinkactive href="#">Relevé de compte</a>
            <a mat-list-item routerlinkactive href="#">Historique de mes opérations</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="full-height">
        <mat-toolbar color="primary">
            <div class="full-width margin-top-5">
                <p class="float-left">
                    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                        *ngIf="(isHandset$ | async)!.matches">
                        <mat-icon class="icon-menu">menu</mat-icon>
                    </button>
                    <span class="margin-left-10">Espace Client</span>
                </p>
                <p class="float-right">
                    <a [routerLink]="['/logout']"><mat-icon>exit_to_app</mat-icon></a>
                </p>
                <p class="float-right">{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
            </div>
        </mat-toolbar>
        <div>
            <mat-card>
                <mat-card-content>
                    <p>Welcome in my KATA based on Angular and Java Spring Boot technologies.</p>
                    <p>I invite you to browse the contents of the menu.</p>
                </mat-card-content>
            </mat-card>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>