/* Add application styles & imports to this file! */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  box-sizing: border-box;
}
body {
  margin: 0px !important;
}
.full-height {
  height: 100vh;
}
.full-width {
  width: 100%;
}
.center {
  text-align: center;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.material-icons {
  font-size: 35px;
  color: white;
}
.icon-menu {
  margin-top: -5px;
}
.mat-drawer-container {
  background-color: white;
}
.error {
  max-width: 300px;
  padding: 16px;
  color: white;
  background-color: red;
}
.success {
  padding: 16px;
  color: white;
  background-color: green;
}